
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row,
.nav__row,
.nav__container,
.header__container {
  margin: 0 auto;            /* center these containers only */
  width: 100%;
  max-width: 1200px;
}

/*
ul {

}
*/

li {
  list-style-type: none;
  cursor: pointer;
}

ol {
  list-style-type: none;
  cursor: pointer;
}

.default-pointer {
  cursor: default;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h4 {
  font-size: 16px;
}

/* 

NAVIGATION BAR 

*/

nav {
  height: 240px;
  width: 100%;
  background-color: #242424;
  margin-bottom: 32px;
}

.nav__bkgd--img {
  position: absolute;
  max-height: 200px;
  width: 1400px;
  max-width: 1400px;
  left: 49%;
  transform: translateX(-50%);
  margin: 16px;
}

.nav__container {
  position: absolute;
  height: 200px;
  max-width: 1400px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 16px 0 0 0;
}

.nav__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 0 32px;*/
}

.nav__figure,
.nav__title,
.nav__menu {
  flex: 1;   /* each takes 1/3 of available space */
}

.nav__figure {
  display: flex;
  justify-content: flex-start;
  padding-left: 64px;
}

.mmf-logo {
  max-width: 160px;
}

.nav__title {
  text-align: center;
}

.nav__title--text {
  font-size: 32px;
}

.nav__sub-title--text {
  font-size: 16px;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 64px;
}

.nav__links {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: 700;
  padding: 8px;
  margin-left: 8px;
}

.nav__link--stacked-top {
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: 700;
  padding: 8px 8px 0 8px;
  margin-left: 8px;
}

.nav__link--stacked-bottom {
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: 700;
  padding: 0 8px 8px 8px;
  margin-left: 8px;
}

.nav__link:hover,
.nav__link--stacked:hover {
  text-decoration: underline;
  color: #7342d6;
}

button {
  cursor: pointer;
}


.nav__button {
  background-color: #7342d6;
  color: white;
  padding: 12px 12px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  margin: 0;
  margin-left: 8px;
}

.nav__button:hover {
  transform: translateY(1px);
  background: #5732a1;
}

.top10searches-dialog {
  position: fixed;
  top: 160px; /* sits below navbar title*/
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 2px solid #444;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  z-index: 999;
  max-width: 240px;
  width: 100%;
}

.close-btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #7342d6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.close-btn:hover {
  background: #5732a1;
}

/*

HEADER

*/

.header__container {
  max-width: 1200px;
  padding: 0 64px
}

.header__title {
  margin-bottom: 32px;
}

.search-bar {
  min-width: 320px;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 16px;
}

.filter-menu-box {
  min-width: 160px;
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;
}

/* 

SEARCH 

*/

.search-results__header {
  margin-bottom: 16px;
}

.search-results__title {
  font-size: 20px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  z-index: 1000;

  width: 20px;
  height: 20px;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.filter-message {
  transition: opacity 1s ease;
  opacity: 1;
  padding: 8px 12px;
  border: 1px solid #e67e22;
  background-color: #fff;
  color: #d35400;
  font-size: 12px;
  border-radius: 8px;
}
#filter-message.fade-out {
  opacity: 0;
}

.hidden {
  display: none;
}

.results-display {
  display: flex;
  flex-wrap: wrap;
  padding: 0 64px;
  gap: 16px;
}

.display-block {
  display: block;
}

.mb-16 {
  margin-bottom: 16px;
}

.dbSearchResult__container {
  flex: 0 0 calc((100% - 32px) / 3);
  max-width: calc((100% - 32px) / 3);
  background-color: #999999;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dbSearchResult__container img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 16px;
}

.resultDescription {
  font-size: 12px;
  margin: 4px 0;
}

footer {
  margin-bottom: 32px;
}

/* 

SMALL PHONES, TABLETS, LARGE SMARTPHONES 

*/

@media (max-width: 960px) {
  .nav__title--text {
    font-size: 24px;
  }

  .nav__sub-title--text {
    font-size: 12px;
  }

  .dbSearchResult__container {
    flex: 0 0 calc((100% - 32px) / 2);
    max-width: calc((100% - 32px) / 2);
  }
}

@media (max-width: 768px) {
  .nav__button {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  nav {
    height: 272px;
  }

  .nav__bkgd--img {
    max-height: 240px;
  }

  .nav__container {
    height: 240px;
  }

  .nav__row {
    display: flex;
    flex-wrap: wrap;
  }




/* 
  .dbSearchResult__container {
    flex: 0 0 100%;
    max-width: 100%;
  }
*/

}